
<div class="loginBox">
  <h3>Registrarse</h3> 
  <form [formGroup]="registerUser" (ngSubmit)=" register()">
      <div class="form-group">
        <input id="clientId" formControlName="clientsId" type="text" name="clientsId" placeholder="Cliente">
      </div>
      <div class="form-group">
        <input id="uname" formControlName="username" type="text" name="Username" placeholder="Usuario">
      </div>
      <input id="pass"  formControlName="password" type="password" name="Password" placeholder="Contrasena">
      <span *ngIf="registerUser.get('password')?.hasError('required') && registerUser.get('password')?.touched" class="text-danger labelError">
        <strong>*</strong>
      </span>
      <span *ngIf="registerUser.get('password')?.hasError('minlength') && registerUser.get('password')?.touched" class="text-danger errorLabel">
        La <strong>contraseña</strong> debe tener 6 caracteres
      </span>
      <input id="repeatpass"  formControlName="repeatPassword" type="password" name="repeat Password" placeholder="Repetir contrasena">  
      <input type="submit" [disabled]="registerUser.invalid" name="" value="Registrarse">
  </form>
  <div class="text-center">
      <a routerLink="/login" style="color: #0f81ba;">Iniciar Sesion</a>
  </div>
  <app-spinner *ngIf="loading"></app-spinner>
</div>