
<div class="loginBox">
  <h3>Registrarse</h3>  <!-- <img src="../../../assets/img/logo-bs-2.svg"> -->
  <form [formGroup]="registerUser" (ngSubmit)=" register()">
    <div class="inputBox">
      <select  formControlName="clientsId" (change)="_clientService.onClienteChange()">
        <option *ngFor="let client of _clientService.clients" value="{{ client.id }}">{{ client.name }}</option>
      </select>
      <input id="uname"  formControlName="email" type="text" name="Username" placeholder="Email">
      <input id="pass"  formControlName="password" type="password" name="Password" placeholder="Contrasena">
      <input id="repeatpass"  formControlName="repeatPassword" type="password" name="repeat Password" placeholder="Repetir contrasena">  
    </div> 
      <input type="submit" [disabled]="registerUser.invalid" name="" value="Registrarse">
  </form>
  <div class="text-center">
      <a routerLink="/login" style="color: #0f81ba;">Iniciar Sesion</a>
  </div>
  <app-spinner *ngIf="loading"></app-spinner>
</div>