<div class="container">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-6">
            <h2>CRUD <b>Clientes</b></h2>
          </div>
          <div class="col-sm-6">
            <a (click)="_modalService.openAddClientModal()" class="btn" data-toggle="modal"><i class="material-icons"></i> <span>Add Client</span></a>
          </div>
        </div>
      </div>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Cliente</th>
          </tr>
        </thead>
        <app-client-box></app-client-box>
      </table>
    </div>
  </div>
