<!DOCTYPE html>

<div class="loginBox">
   <h3>Recuperar Contrasena</h3>
   <form [formGroup]="restorePassword" (ngSubmit)="restore()">
     <div class="inputBox">
       <input id="uname" formControlName="email" type="text" name="Username" placeholder="Email">
     </div> 
       <input type="submit" [disabled]="restorePassword.invalid" name="" value="Enviar">
   </form>
   <div class="text-center">
       <a routerLink="/register" style="color: #D4CB92;">Registrarse</a>
   </div>
   <app-spinner *ngIf="loading"></app-spinner>
 </div>