<!DOCTYPE html>

<div class="loginBox">
  <img class="logo" src="../../../assets/img/logo.svg" height="100px" width="100px">
  <img class="titulo" src="../../../assets/img/titulo.svg" height="80px" width="200px">
   <form [formGroup]="restorePassword" (ngSubmit)="restore()">
     <div class="inputBox">
       <input id="uname" formControlName="email" type="text" name="Username" placeholder="Email">
     </div> 
       <input type="submit" [disabled]="restorePassword.invalid" name="" value="Recuperar Contrasena">
   </form>
   <a routerLink="/login">Iniciar sesión<br> </a>
   <app-spinner *ngIf="loading"></app-spinner>
 </div>