<!DOCTYPE html>
<div class="loginBox">
    <h3>Iniciar Sesion</h3>
    <form (ngSubmit)="login()" [formGroup]="userLogin">
      <div class="inputBox">
        <input id="clientId" formControlName="clientsId" type="text" name="clientsId" placeholder="Cliente">
        <input id="uname" formControlName="email" type="text" name="Username" placeholder="Email">
        <input id="pass" formControlName="password"type="password" name="Password" placeholder="Contrasena"> 
      </div> 
        <input type="submit" [disabled]="userLogin.invalid" name="" value="Acceder">
    </form>
    <a routerLink="/dashboard">Recuperar Contraseña<br> </a>
    <div class="text-center">
        <a routerLink="/register" style="color: #0f81ba;">Registrarse</a>
    </div>
    <app-spinner *ngIf="loginService.loading"></app-spinner>
</div>