<!DOCTYPE html>
<app-navbar></app-navbar>
<div class="client-box">
  <div class="centered">
    <h2>Agregar Cliente</h2>
  </div>
  <form (ngSubmit)="crud.addClient(client)" [formGroup]="client" >
    <div class="grid-form">
      <div class="item">
        <div class="input-wrapper">
          <input id="nombre" formControlName="nombre" type="text" name="nombre" placeholder="Nombre" autocomplete="off">
          <span *ngIf="client.get('nombre')?.hasError('required') && client.get('nombre')?.touched" class="text-danger labelError">
            <strong>*</strong>
          </span>
        </div>
      </div>
      <div class="item">
        <div class="input-wrapper">
          <input id="telefono" formControlName="telefono" type="text" name="telefono" placeholder="Telefono" autocomplete="off">
        </div>
      </div>
      <div class="item">
        <div class="input-wrapper">
          <input id="email" formControlName="email" type="text" name="email" placeholder="Email" autocomplete="off">
        </div>
      </div>
      <div class="item">
        <div class="input-wrapper">
          <input id="direccion" formControlName="direccion" type="text" name="direccion" placeholder="Direccion" autocomplete="off">
        </div>
      </div>
    </div>
    <div class="submit-btn">
      <input type="submit" name="" value="Guardar Cambios"> 
    </div>
  </form>
  <a [routerLink]="['/crud']" [queryParams]="{ dato: 'client' }">Volver al CRUD<br> </a>
</div>
